aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
attrs
bcrypt
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem

fastapi
Flask
Flask-Bcrypt
Flask-PyMongo
Flask-SocketIO
frozenlist
idna
itsdangerous
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
multidict
murmurhash
nltk
numpy
oauthlib
opencv-python
packaging
preshed
propcache
pydantic
pydantic_core
Pygments
PyJWT
pymongo
python-dotenv
python-socketio
regex
requests
requests-oauthlib
rich
schedule
scikit-learn
scipy
shellingham
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
threadpoolctl
torch
torchaudio
torchvision
tqdm
tweepy
twilio
typer
typing-inspection
typing_extensions
ultralytics
urllib3
uvicorn
wasabi
weasel
Werkzeug
wrapt
yarl
google-generativeai==0.5.2
